* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(228,225,213);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13pt;
}
table {
    background-color: #FFF;
    width: 800px;
    padding: 20px;
    margin: 20px 0;
}
td {
    padding: 5px 0;
}
h1{
    background: linear-gradient(to right, rgb(181, 14, 35) 0%, rgb(0, 62, 139) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 38pt;
    padding: 0 30px;
    border-bottom: 4px solid rgb(111, 26, 51);
}

h2{
    background: linear-gradient(to right, rgb(181, 14, 35) 0%, rgb(0, 62, 139) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 30pt;
    padding-bottom: 20px;
    font-weight: normal;
}
#container {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    padding: 30px 0;
}
#cabecalho{
    margin: 0 auto;
    text-align: center;
}
.bandeira {
    width: 200px;
}
.horario {
    color: rgb(0, 62, 140);
    font-weight: bold;
}
.bordaInferior {
    border-bottom: 1px solid black;
}
.partida{
    font-weight: bold;
}
.local {
    font-size: 10pt;
    color: #87857c;
}
.tabelas{
    position: relative;
}
.grupo {
    position: absolute;
    text-align: center;
    background: rgb(204, 7, 16);
    line-height: 40px;
    color: #FFF;
    font-weight: 900;
    font-size: 14pt;
    width: 30px;
    height: 40px;
    left: 93%;
    top: 15px;
}
